* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Background Image */
.bg {
  background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470')
    no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(30px);
  transition: filter 0.1s;
}

/* Percentage Text */
.loading-text {
  position: absolute;
   top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: black;
}
